# üìä Relat√≥rio III
>  Integrantes:
> * Bruno
> * Daniel
> * Hallynny
> * Jaiana
> * Thalles
> * Youlia

### Importando o Banco de Dados

In [1]:
import pandas as pd
import numpy as np

# üîé Fazer uma an√°lise explorat√≥ria de dados atrav√©s dos anos 2105 at√© 2019.

### Importando o bibliotecas
> * 
Fazer uma an√°lise explorat√≥ria de dados atrav√©s dos anos 2105 at√© 2019.

In [2]:
df_2015 = pd.read_csv('2015.csv')
df_2016 = pd.read_csv('2016.csv')
df_2017 = pd.read_csv('2017.csv')
df_2018 = pd.read_csv('2018.csv')
df_2019 = pd.read_csv('2019.csv')

In [3]:
df_2015.head(3)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204

## 1. Quais foram as altera√ß√µes ano a ano no ranking dos primeiros 10 pa√≠ses; üìÜ

## 2. Considerando a m√©dia de todas as vari√°veis, quais foram as 3 vari√°veis que mais mudaram ano a ano.(Sem contar o score ou ranking) üìÜ

## 3. Quais foram os top 3 pa√≠ses que mais tiveram mudan√ßa positiva e negativa de GPD. ‚úÖ‚ùå

## 4. Qual foi o pa√≠s que mais subiu no ranking no per√≠odo inteiro analisado. üìà

## 5. Teve pa√≠ses que sa√≠ram ou entraram do index. ‚ùì

## 6. Quais foram os 3 pa√≠ses que mais tiveram mudan√ßa na expectativa de vida, positiva e negativa. ‚úÖ‚ùå

### 7. At√© 2 quest√µes extras que voc√™s acham interessante analisar.